#include <windows.h>
#include "resource.h"
IDR_MYMENU MENU
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "&Open", ID_FILE_OPEN
        MENUITEM "&Save", ID_FILE_SAVE
        MENUITEM "E&xit", ID_FILE_EXIT
    END
    POPUP "&Help"
    BEGIN
        MENUITEM "&About", ID_HELP_ABOUT
    END
END

IDD_ABOUT DIALOG DISCARDABLE 0, 0, 239, 66
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "My About Box"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON "&Close", IDOK, 174, 18, 50, 14
    GROUPBOX "About this program", -1, 7, 7, 225, 52
    CTEXT "Aurora 3000\nCollin, Kavan, Mitchell", -1, 16, 18, 144, 33
END

IDD_INPUT DIALOG DISCARDABLE 200, 200, 100, 40
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Classes"
FONT 8, "MS Sans Serif"
BEGIN
    CTEXT "Enter # of classes you have", IDC_INPUTC_A, 5, 5, 90, 14, WS_VISIBLE | WS_CHILD
    EDITTEXT IDE_INPUT_A, 28, 20, 20, 14, WS_VISIBLE | WS_CHILD | ES_AUTOHSCROLL | ES_CENTER
    CONTROL "&Go", IDB_INPUTB_A, "Button", WS_VISIBLE | WS_CHILD, 53, 20, 20, 14
END
